<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="LogEnable" value="true" />
    <add key="LogPath" value="D:\\Workspace 2018\\Sony\\Logs" />
    <add key="APIUrl" value="http://localhost:49529/" />
    

    <add key="APIImageUrl" value="/AMboApi/" />
    <add key="FCMUrl" value="https://fcm.googleapis.com/fcm/send" />
     <add key="ReportAPIUrl" value="D://TFS Code//VSS_Code//Sony//AMBOAPI//AMBOAPI//SonyAmbo/" />
	  
	  
	  	  <add key="MailHost" value="smtp01.dc1gw.sony.com.sg" />
		  <add key="MailPassword" value="Notification" />
		  <add key="FromEmailid" value="donotreply@ap.sony.com" />
		  <add key="MailPort" value="25" />
	  
		  <add key="URL" value="http://sidintportal.ap.sony.com/PrintingStationery/Login.aspx" />
	  
 
    <add key="APIKey" value="U29ueUluZGlh:QVBJVmFsdWU=" />
    <add key="FCMSFAKey" value="key=" />
    <add key="FCMSIDKey" value="key=" />
    <add key="RegionMasterGridURL" value="api/Grid/GetRegionMasterGrid" />
    <add key="StateMasterGridURL" value="api/Grid/GetStateMasterGrid" />
    <add key="CityMasterGridURL" value="api/Grid/GetCityMasterGrid" />
    <add key="LocationMasterGridURL" value="api/Grid/GetLocationMasterGrid" />
    <add key="BranchMasterGridURL" value="api/Grid/GetBranchMasterGrid" />
    <add key="ProductCategoryMasterGridURL" value="api/Grid/GetProductCategoryMasterGrid" />
    <add key="ProductSubCategoryGridURL" value="api/Grid/GetProductSubCategoryMasterGrid" />
    <add key="MaterialMasterGridURL" value="api/Grid/GetMaterialMasterGrid" />
    <add key="DealerMasterGridURL" value="api/Grid/GetDealerMasterGrid" />
    <add key="SFAMasterforHRGridURL" value="api/Grid/GetSFAMasterforHRGrid" />
    <add key="SFASalaryMasterGridURL" value="api/Grid/GetSFASalaryMasterGrid" />
    <add key="Excel03ConString" value="Provider=Microsoft.Jet.OLEDB.4.0;Data Source={0};Extended Properties='Excel 8.0;HDR=YES;'" />
    <add key="Excel07ConString" value="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};Extended Properties='Excel 12.0;HDR=YES;'" />
        <add key="URLInitial" value="" />
    <add key="aspnet:MaxJsonDeserializerMembers" value="2147483644" />
    <add key="banner1" value="http://localhost:53508/Content/img/Banner1.png" />
    <add key="banner2" value="http://localhost:53508/Content/img/Banner2.jpg" />
    <add key="logo" value="http://localhost:53508/Content/img/whizt-logo.png" />
  </appSettings>
  <connectionStrings>
    <!--<add name="defaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=43.88.32.143;Initial Catalog=Ambo_Sony_New;User ID=saweb;Password=$0ny@123098;" />
    <add name="ReportConnection" providerName="System.Data.SqlClient" connectionString="Data Source=43.88.32.143;Initial Catalog=Ambo_Sony_New;User ID=saweb;Password=$0ny@123098;" />-->
    <!--<add name="defaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=172.16.5.69;Initial Catalog=Ambo_Sony_New;User ID=saweb;Password=$0ny@123098;" />
    <add name="ReportConnection" providerName="System.Data.SqlClient" connectionString="Data Source=172.16.5.69;Initial Catalog=AMBOAnaly;User ID=saweb;Password=$0ny@123098;" />-->

   <!-- <add name="defaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=INHZWINSQL01;Initial Catalog=RutujaSony;User ID=sa;Password=Secure@2023;" />
    <add name="ReportConnection" providerName="System.Data.SqlClient" connectionString="Data Source=INHZWINSQL01;Initial Catalog=AMBOAnaly;User ID=sa;Password=Secure@2023;" />-->
    <add name="defaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=INHZWINSQL01;Initial Catalog=Sony24122024;User ID=sa;Password=Secure@2023;" />
    <add name="ReportConnection" providerName="System.Data.SqlClient" connectionString="Data Source=INHZWINSQL01;Initial Catalog=AMBOAnaly;User ID=sa;Password=Secure@2023;" />
  </connectionStrings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" executionTimeout="240" maxRequestLength="214748364" />
    <sessionState timeout="30" mode="InProc" />
  </system.web>
<system.webServer>
   <security>
      <requestFiltering>
         <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
   </security>
 </system.webServer>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483644" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DocumentFormat.OpenXml" publicKeyToken="8fb06cb64d019a17" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.15.0.0" newVersion="2.15.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>

